# {{ ansible_managed }}

{% set item = (docker_nginx_sites['docker'] | combine(item.value, recursive=True)) %}

{% if item.upstreams %}
{% for upstream in item.upstreams %}

upstream {{ upstream.name }} {
{% for server in upstream.servers %}
         server {{ server }};
{% endfor %}
}
{% endfor %}

{% for upstream in item.upstreams %}
server {
        listen {{ upstream.servers[0].split(':')[1] }} ssl default;
        server_name {{ item.domains[0] }};

        ssl on;
        ssl_dhparam /etc/nginx/ssl/dhparam.pem;
        ssl_certificate /etc/letsencrypt/live/{{ item.domains[0] }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ item.domains[0] }}/privkey.pem;
        ssl_trusted_certificate /etc/letsencrypt/live/{{ item.domains[0] }}/fullchain.pem;

        client_max_body_size 4G;
        #proxy_max_temp_file_size 2G;

        location / {
                proxy_pass http://{{ upstream.name }}/;

                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto "https";

                proxy_redirect http:// https://;
        }
}

{% endfor %}


{% endif %}

